<div class="flex">
  <div class="flex bg-gray-50 border border-gray-200 border-opacity-50 rounded-lg transition p-0.5">
    <nav class="flex gap-x-1">
      <button
        type="button"
        (click)="setViewType('board')"
        class="bg-transparent text-neutral-800 py-1.5 px-3 inline-flex items-center gap-x-2 text-sm hover:text-neutral-900 focus:outline-none focus:text-neutral-900 rounded-lg"
        [ngClass]="{'font-medium shadow bg-white': activeViewType() === 'board'}"
      >
        Board
      </button>
      <button
        type="button"
        (click)="setViewType('list')"
        class="bg-transparent text-neutral-800 py-1.5 px-3 inline-flex items-center gap-x-2 text-sm hover:text-neutral-900 focus:outline-none focus:text-neutral-900 rounded-lg"
        [ngClass]="{'font-medium shadow bg-white': activeViewType() === 'list'}"
      >
        List
      </button>
    </nav>
  </div>
</div>
